body {
    margin: 0px;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
.header ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.header a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    gap: 5px;
    padding: 100px;
}

.hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    flex: 1 2 0%;
}

.hero-description h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.hero-description p1 {
    font-size: 18px;
    color: #e5e7eb
}

.hero-description button {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3882f6;
    border-radius: 6px;
    color: #e5e7eb;
    font-weight: bold;
    border: none;
}

img {
    min-width: 50%;
    min-height: 50%;
    max-width: 100%;
    max-height: 100%;
}

.hero-photo {
    max-width: 700px;
    max-height: 500px;
    flex: 1 1 0%;
}

.info-section {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    padding: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 20px;
}


.cards {
    display: flex;
    gap: 30px;
    flex: 1 1 0%;
}

.card-and-desc {
    width: 200px;
}

.phrase-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 90px;
}

.phrase-section h1 {
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
}

.phrase-section p2 {
    align-self: flex-end;
    font-weight: bold;
}

.final-section {
    padding: 50px;
}

.signup-window {
    padding: 20px;
    padding-left: 100px;
    background-color: #3882f6;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-dialog {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 30px;
}

.action-dialog h1 {
margin-bottom: -3px;
}

.signup-window button {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 90px;
    background-color: #3882f6;
    border-radius: 6px;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    min-height: 100px;
    color: white;
}